{{template "header"}}
         <title>首页 - 我的beego博客</title>
     </head>
     <style>
         body { padding-top: 70px; }
     </style>

     <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
            {{template "navbar" .}}
            </div>
        </div>

         <div class="container">
             <div class="page-header">
                    <h1>我的第一篇博客</h1>
                    <h6 class="text-muted">文章发表于2019年8月9日10：36，共有100次浏览，200个评论</h6>
                    <p>
                        大家好，这我的第一篇博客，多谢观看。
                    </p>
             </div>
         </div>
     </body>
</html>